useDynLib(polysf)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
importFrom(lpSolve, lp)
importFrom(Matrix, rankMatrix)
importFrom(pracma, pinv)
importFrom(volesti, Hpolytope)
importFrom(volesti, sample_points)
importFrom(glmnet, glmnet)
importFrom(mvtnorm, rmvnorm)
export(ind_rows)
export(add_to_full)
export(sf_rep)
S3method(print, sf_rep)
export(print.sf_rep)
S3method(sample_polytope, default)
S3method(sample_polytope, sf_rep)
export(sample_polytope)
export(equi_index_lasso)
export(sf_rep_lasso)
S3method(print, sf_rep_lasso)
export(print.sf_rep_lasso)
S3method(sample_lasso, default)
S3method(sample_lasso, sf_rep_lasso)
export(sample_lasso)
